.form {
  position: relative;
  width: 100%;
  padding: 15px;
  width: 100%;
  max-width: 45%;
}

@media (max-width: 1199.99px) and (orientation: portrait) {
  .form {
    max-width: unset;
    width: 100%;
  }
}

.form-group {
  position: relative;
  margin-bottom: 0;
}

.form-group label {
  font-size: 12px;
  display: block;
  margin-top: 8px;
  margin-bottom: 4px;
  color: var(--text-lighter-color);
  user-select: none;
}

.form-control {
  margin: 0;
  width: 100%;
  border: none;
  padding: 0;
  font-size: 16px;
  font-family: inherit;
  border-radius: 0;
  height: calc(1.5em + 0.75rem + 2px);
}

.form-control:active,
.form-control:focus,
.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control,
.form-control:focus {
  color: var(--text-color);
  background-color: var(--background-color);
}

.form-control::placeholder {
  color: var(--text-lighter-color);
}

.form-group > .form-control,
.form-group > .form-control-multi {
  width: calc(100% - (var(--form-input-horizontal-padding) * 2));
  border: 1px solid var(--border-color);
  padding-top: var(--form-input-vertical-padding);
  padding-bottom: var(--form-input-vertical-padding);
  padding-left: var(--form-input-horizontal-padding);
  padding-right: var(--form-input-horizontal-padding);
  border-radius: var(--form-input-border-radius);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

.dropdown {
  color: var(--text-color);
  background-color: transparent !important;
  border: none;
  font-size: 16px;
  width: "max-content";
}

.dropdown:focus {
  outline: none;
}

.dropdown option {
  color: initial;
}

.page-links {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 1.2rem 0;
}

.page-link {
  color: var(--text-lighter-color);
  text-decoration: none;
  position: relative;
  top: 2px;
  font-size: 14px;
  margin-left: 8px;
}

.page-link:hover {
  color: var(--text-color);
}
