:root {
  --background-color: #16181c;
  --text-color: #e2e2e2;
  --text-lighter-color: #b3b3b3;
  --border-color: #555555;
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

p {
  color: var(--text-lighter-color);
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Poppins", sans-serif;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

.btn {
  border-radius: 30px;
}

.form-control,
.form-control:focus {
  color: var(--text-color);
  background-color: var(--background-color);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

.half,
.half .container > .row {
  height: 100vh;
}

@media (max-width: 991.98px) {
  .half .bg .intro {
    display: none;
  }
}

.half .bg {
  box-shadow: inset 5px 0px 6px 1px #00000035;
}

.half .contents,
.half .bg {
  width: 65%;
}

.half .bg:first-child {
  width: 35%;
}
@media (max-width: 1199.98px) {
  .half .contents,
  .half .bg {
    width: 100%;
  }
}
.half .contents .form-group,
.half .bg .form-group {
  margin-bottom: 0;
  border: 1px solid var(--border-color);
  padding: 15px 15px;
  border-bottom: none;
}
.half .contents .form-group.first,
.half .bg .form-group.first {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.half .contents .form-group.last,
.half .bg .form-group.last {
  border-bottom: 1px solid var(--border-color);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.half .contents .form-group label,
.half .bg .form-group label {
  font-size: 12px;
  display: block;
  margin-bottom: 0;
  color: var(--text-lighter-color);
  user-select: none;
}
.half .contents .form-control,
.half .bg .form-control {
  border: none;
  padding: 0;
  font-size: 20px;
  border-radius: 0;
}
.half .contents .form-control:active,
.half .contents .form-control:focus,
.half .bg .form-control:active,
.half .bg .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.half .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.half a {
  color: #888;
  text-decoration: underline;
}

.half .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}

.half .forgot-pass {
  margin-right: 8px;
  position: relative;
  top: 2px;
  font-size: 14px;
}

.half .intro {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00000040;
  backdrop-filter: blur(10px);
  height: 50%;
  width: 100%;
  user-select: none;
}

.half .title1,
.half .title2 {
  font-size: xx-large;
  color: #fff;
}

.half .description {
  color: #fff;
}

.half .title1 {
  font-size: large;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}
.control .caption {
  position: relative;
  top: 0.2rem;
  color: #888;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control input:active {
  background-color: var(--background-color);
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #191414;
  border-radius: 4px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #191414;
}

.control input:checked ~ .control__indicator {
  background: #007bff;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #1a88ff;
}

.control input:disabled ~ .control__indicator {
  background: #191414;
  opacity: 0.9;
  pointer-events: none;
}

.control__indicator:after {
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: 0.2;
}

.shake,
.shake:hover {
  background-color: #ed4337 !important;
  border-color: #ed4337 !important;
}

.shake {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
